<div class="container-fluid mainPanel">
    <div class="row">
        <h2>Reviews for {{book?.title}}</h2>
<img src="{{book?.cover | noImage}}">
    </div>
    <div class="row">
<h4>Author: {{book?.author}}</h4>
    </div>
    <review-form class="row" [bookId]="bookId" (createReview)="addReview($event)"></review-form>
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-border table-striped">
                <thead>
                    <tr>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let review of reviews">
                        <td>{{review.content}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
